.example-stretched-tabs {
    max-width: 1000px;
  }
  .probe-position {
    align-content: center
  
  }
  .example-card{
    font-family: 'Raleway', sans-serif;
  }
  .example-tab-icon{
    margin: 8px
  }
  .title{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
  }
  .new-training {
    padding-top: 30px;
    // text-align: center;
  }
 