.mat-header-cell {
    display:flex;
    justify-content:center;
   
}
.mat-cell {
    display:flex;
    justify-content:center;
   
}

.botton {
    text-decoration-style: solid;
    font-weight: 500
}
.courses{
    font-family: 'Raleway', sans-serif;
}
.mat-icon-button{
    font-family: 'Raleway', sans-serif;
  }
  .btn_enlist{
    //   padding-bottom: 5px;
    //   padding-top: 0px;
    //   height: 30px;
    font-family: 'Raleway', sans-serif;
    color: white
  }
  .btn_delete{
    //   padding-bottom: 5px;
    //   padding-top: 0px;
    //   height: 30px;
    font-family: 'Raleway', sans-serif;
    color: white
  }