.mat-header-cell {
  display: flex;
  justify-content: center;

}

.mat-cell {
  display: flex;
  justify-content: center;
}

.botton {
  text-decoration-style: solid;
  font-weight: 500
}

.courses {
  font-family: 'Raleway', sans-serif;
}

.mat-icon-button {
  font-family: 'Raleway', sans-serif;
}

.btn_enlist {
  margin-right: 4px;
  font-family: 'Raleway', sans-serif;
  color: white
}
