.example-stretched-tabs {
    max-width: 1000px;
  }
  .probe-position {
    align-content: center
  
  }
  .example-card{
    font-family: 'Raleway', sans-serif;
    height: 100%;
  }
  .example-tab-icon{
    margin: 8px
  }
  .new-training{
    height: 100%;
  }
  .new-training {
    padding-top: 30px;
    
  }