.mat_icon {
  font-size: 40px;
}

.lista {
  font-family: 'Raleway', sans-serif;
  color: white
}

.example-container>* {
  padding-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 100%;
}

.example-card {
  height: 100%;
}

.example-button-row {
  align-content: center
}

.new-training {
  padding-top: 30px;
  text-align: center;
}

.title-card {
  align-content: center
}

	
.upload{
    font-weight:bold;
    color:#28a745;
    margin-left: 15px;
    line-height: 36px;
}
.heder {
  background-color: #f9fbfc;
  //border: lightgrey solid 0.5pt; 
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
}

.mat-header-cell {
  display: flex;
  justify-content: center;

}

.mat-cell {
  display: flex;
  justify-content: center;

}
.btn{
  width: 10%;
  color: white;
}
.botton {
  text-decoration-style: solid;
  font-weight: 500
}

.courses {
  font-family: 'Raleway', sans-serif;
}

.mat-icon-button {
  font-family: 'Raleway', sans-serif;
}

.btn_enlist {

  font-family: 'Raleway', sans-serif;
  color: white
}

.btn_delete {
  font-family: 'Raleway', sans-serif;
  color: white
}
img{
  padding-top:25px;
  width: 60px;
}