.example-stretched-tabs {
  width: 100%;
}
.probe-position {
  align-content: center

}
.example-card{
  font-family: 'Raleway', sans-serif;
}
.example-tab-icon{
  margin: 8px
}
.title{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}
