	
.upload{
    font-weight:bold;
    color:#28a745;
    margin-left: 15px;
    line-height: 36px;
}
.uploadbutton{
    color: white;
    font-family: 'Raleway', sans-serif;
    align-self: flex-start;
}
mat-card{
    align-content: flex-start
}