.new-training {
  padding-top: 30px;
  text-align: center;
  font-family: "Raleway", sans-serif 5px;
}

.example-header-image {
  background-image: url("../../assets/courseintroimage.jpg");
  background-size: cover;
}

// .example-card {
//   border: 20px;

// }
#login {
  color: white;
  font-family: "Raleway", sans-serif 5px;
}
#register {
  color: white;
  font-family: "Raleway", sans-serif;
}
.app-home {
  background-color: blue;
}
google-chart {
  font-family: "Raleway", sans-serif 5px;
}
.switch {
  color: white;
  font-family: "Raleway", sans-serif 5px;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.stats {
  font-family: "Raleway", sans-serif 5px;
}
.lista {
  font-family: "Raleway", sans-serif;
}
mat-grid-tile {
  background: #f9f9f9;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-align: left;
 
}
mat-card-title {
  font-family: "Raleway", sans-serif;
  
  
}
mat-card-header {
  background-color: rgb(238, 238, 238);
}
.text-pos {
  align-content: left;
  font-family: "Raleway", sans-serif;
}
.info {
  font-family: "Raleway", sans-serif;
  text-align: left;
}
.imgage{
  width: 30%;
  height: 30%;;
}

.prawywykres{
width: 700px;
}
.lewywykres{
  width: 500px;
  }
